.about__page__wrapper{
    padding: 80px 80px;
}
.page__title__text{
    font-size: 25px;
    /* color: #190101; */

}
.page__heading__text{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 18px;
    line-height: 35px;
}
.skill__div{
    border: 1px solid var( --color-dark-gray);
    padding: 15px 20px;
    border-radius: 30px;
    margin-bottom: 30px;
}
.skills__list{font-size: 18px;}
.skill__description{font-size: 18px;}
/* .skill__div{margin-bottom: 0;} */
.skills__frontend{   
    background: var( --color-dark-gray);
    color: var( --color-light-gray);
}
.skills__title__text{
    font-size: 22px;
    margin-bottom: 10px;
}
.me__profile__div{
    background-color: #ccc;
    border-radius: 20px;
    display: flex;
    justify-content: end;
}
.me__profile__div img{
    border: 1px solid #000;
    border-radius: 20px;
}
.about__section__bottom{
    margin-top: 30px;
}
.git__btn__div{
    margin-top: 20px;
    display: flex;
    align-items: center;

}
.git__btn{
    border-radius: 100%;
    width: 50px;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 25px;
}
.arrow__btn{
    color: #000;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: -15px;    
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    font-size: 15px;
}
.indent-first-line {
    display: block; /* Ensure it’s a block element */
    text-indent: 20px; /* This should work if it's a block-level element */
  }
.desktop__d__none{display: none;}

@media (min-width:800px) and (max-width:1326px) {
    .about__page__wrapper{padding: 20px 50px;}
    .me__profile__div img{width: 500px; height: 100%;}
}
@media (min-width:576px) and (max-width:800px) {
    .about__page__wrapper{padding: 20px 30px;}
    .page__heading__text{font-size: 17px;}
    .skill__description{font-size: 20px;}
    .mobile__d__none{display: none;}
    .desktop__d__none{display: block;}
}
@media (max-width:567px){
    .skill__div{
        padding: 15px;
        border-radius: 25px;
        margin-bottom: 15px;
    }
    .about__page__wrapper{padding:20px 15px;}
    .skill__description {font-size: 14px; letter-spacing: 1px;}
    .page__heading__text{font-size: 14px;text-align: justify;margin-bottom: 0;}
    .skills__title__text{font-size: 18px;}
    .skills__list{font-size: 14px;}
    .job__box  p{font-size: 11px; display: flex}
    .job__description {flex-direction: column;}
}
@media (max-width:375px){
    .page__title__text{font-size: 16px;}
    .skills__title__text{font-size: 16px;}
    .skill__description{font-size: 12px;}
    .skill__div{border-radius: 20px; padding: 10px 15px;}
    .page__heading__text,.skills__list{font-size: 12px;line-height: 180%;}
}