/* Base Styles */
.hero__section__wrapper {
    padding: 20px 80px;
  }
  
  .me__profile__title__text1,
  .me__profile__title__text2 {
    font-size: 110px;
    font-weight: bold;
    /* letter-spacing: 12px; */
    line-height: 110%;
    /* color: #; */
    /* font-family:Sunday ; */
  }
  
  .hero__section__goal__text, .hero__section__goal__text * {
    padding-right: 0;
    font-size: 25px;
    line-height: 40px;
    color: var(--color-dark-gray);
  }
  
  .btn {
    border-radius: 100vmax;
    padding: 10px 20px;
    border: none;
  }
  .button__live__box{display: flex;}
.btn__project{
  background: var(--color-white-smoke);
    font-size: 25px;
    margin-right: 20px;
    pointer-events: none;
  }

  .hero__project__container{
    gap: 20px;
    align-items: center;
  }
  .live__text p{
    font-size: 25px;
    line-height: 130%;
    text-align: end;
    font-weight: lighter;
    font-style: italic;
    text-indent: 80px;
    margin-bottom: 0;
  }

  .btn__project__btn{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 0;
    background: var(--color-white-smoke);
    color: var(--color-dark-gray);
    margin-left: 10px;
    justify-content: center;
    display: flex;
    align-items: center;
  }
  .btn__project__btn svg{
    fill: var(--color-dark-gray);
    font-weight: bold;
    width: 20px;
    height: 20px;
  }
  
  .hero__section__top {
    padding-bottom: 30px;
  }
  
  .social__btn {
    display: flex;
    gap: 20px;
  }
  
  .btn__social {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid var(--color-white-smoke);
  }
  
  .btn__social i {
    font-size: 16px;
  }
  
  .btn__social:hover {
    /* border: 1px solid #AAB396; */

    background: var(--color-dark-gray);
    color: #EFEEEA;
  }
  
  .group{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 30px;
  }
  
  .group-1, .group-3 {
    margin: 0 50px;
  }
  
  .project__btn {
    display: flex;
    justify-content: end;
    align-items: center;
  }
  
  /* Media Queries - Organized by screen size from largest to smallest */
  @media (min-width: 800px) and (max-width: 1326px) {
    .hero__section__wrapper {
      padding: 20px 50px;
    }
    .me__profile__title__text1,
    .me__profile__title__text2 {
      font-size: 95px;
    }
  }
  
  @media (max-width: 1280px) {
    .hero__section__goal__text {
      font-size: 23px;
    }
    .me__profile__title__text1,
    .me__profile__title__text2 {
      font-size: 90px;
    }
  }
  
  @media (max-width: 1231px) {
    .me__profile__title__text1,
    .me__profile__title__text2 {
      font-size: 85px;
    }
  }
  
  @media (max-width: 1185px) {
    .me__profile__title__text1,
    .me__profile__title__text2 {
      font-size: 80px;
    }
  }
  
  @media (max-width: 1140px) {
    .me__profile__title__text1,
    .me__profile__title__text2 {
      font-size: 75px;
    }
  }
  
  @media (max-width: 1090px) {
    .me__profile__title__text1,
    .me__profile__title__text2 {
      font-size: 70px;
      letter-spacing: 5px;
    }
  }
  
  @media (max-width: 1024px) {
    .me__profile__title__text1,
    .me__profile__title__text2 {
      font-size: 88px;
      letter-spacing: 2px;
    }
    .group-1 {
      margin: 0 30px;
    }
    .hero__section__goal__text {
      font-size: 22px;
    }
  }
  
  @media (max-width: 870px) {
    .group{padding-top: 10px;}
    .me__profile__title__text1,
    .me__profile__title__text2 {
      font-size: 65px;
    }
  }
  
  @media (max-width: 824px) {
    .me__profile__title__text1,
    .me__profile__title__text2 {
      font-size: 60px;
    }
  }
  
  @media (max-width: 800px) {
    .hero__section__wrapper {
      padding: 20px 15px;
    }
    .me__profile__title__text1,
    .me__profile__title__text2 {
      font-size: 65px;
    }
    .me__profile__title__text2{padding-bottom: 20px;}
    .hero__section__goal__text, .hero__section__goal__text * {
      font-size: 14px;
    }
    .live__text p{text-indent: 0;font-size: 25px;}
    .btn__project {
      font-size: 20px;
    }
    .btn__social {
      font-size: 13px;
    }
    .social__btn {
      gap: 10px;
    }
    .group-1 {
      margin: 0 20px;
    }
    .group {
      gap: 10px;
    }
    .social__items {
      display: flex;
      justify-content: center;
      width: 100%;
    }
  }
  
  @media (min-width: 378px) and (max-width: 576px) {
    .hero__section__wrapper {
      padding: 20px 15px;
    }
    .me__profile__title__text1,
    .me__profile__title__text2 {
      font-size: 30px;
      line-height: 130%;
    }
    .hero__section__goal__text, .hero__section__goal__text *  {
      /* font-size: 12px; */
      letter-spacing: 0px;
    }
    .live__text p{font-size: 18px;}
    .btn__project {
      font-size: 12px;
      padding: 5px 10px;
    }
    .btn__social {
      font-size: 13px;
    }
    .social__btn {
      gap: 10px;
    }
    .group-1 {
      margin: 0;
    }
    .group {
      gap: 10px;
    }
    .social__items {
      display: flex;
      justify-content: start;
      width: 100%;
    }
    .project__btn {
      justify-content: start;
      margin-top: 20px;
    }
  }
  
  @media (max-width: 576px) {
    .live__text p{font-size: 14px;}
    .hero__project__container {justify-content: end;}
    .btn__project__btn{width: 16px; height: 16px; margin-bottom: 20px;}
    .btn__project__btn svg{width: 12px; height: 12px;}
    .btn__social{padding:8px 15px;}
    .btn__social *{font-size: 14px;}
  } 
  
  @media (max-width: 376px) {
    .live__text p{font-size: 12px;}
    .btn__project__btn{margin-bottom: 0;}
    .btn__project__btn svg{width: 12px; height: 12px; fill: var(--color-dark-gray);}
    .me__profile__title__text1,
    .me__profile__title__text2 {
      font-size: 29px;
    }
    .me__profile__title__text2{
      padding-bottom: 20px;
    }
  }
  
  @media (max-width: 320px) {
    .btn__social i{font-size: 10px;}
    .hero__section__wrapper {
      padding: 20px 15px;
    }
    .me__profile__title__text1,
    .me__profile__title__text2 {
      font-size: 26px;
    }
    /* .hero__section__goal__text, .hero__section__goal__text *, .live__text p {
      font-size: 12px;
      text-indent: 0;
      line-height: 130%;
    } */

    .btn__project {
      font-size: 12px;
    }
    .btn {
      padding: 10px;
    }
    .btn__social {
      font-size: 13px;
    }
    .social__btn {
      gap: 10px;
    }
    .group-1 {
      margin: 0;
    }
    .group {
      gap: 10px;
    }
    .social__items {
      display: flex;
      justify-content: start;
      width: 100%;
    }
    .brand__text__1,
    .brand__text__2 {
      font-size: 40px;
    }
    .project__btn {
      justify-content: start;
      margin-top: 20px;
    }
  }


  