@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

  
  @font-face {
    font-family: 'CrimsonText-Bold';
    src: url('../../public//font/Crimson_Text/CrimsonText-Bold.ttf');
  }
  
  @font-face {
    font-family: 'CrimsonText-Regular';
    src: url('../../public//font/Crimson_Text/CrimsonText-Regular.ttf');
  }
  @font-face {
    font-family: 'Sunday';
    src: url('../../public//font/Sunday\ Best\ ttf.ttf') format('truetype');
  }
  @font-face {
    font-family: 'OpenSerif';
    src: url('../../public//font/OpenSerif-Book.ttf') format('truetype');
  }

